{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static '/css/mainAdmin.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
</head>
<body>
<header class="headerNotMain">
    <a href="/static" class="logo">WORLD</a>
</header>
<main>
    <div class="text">
        <h2>Добро пожаловать!</h2>
        <p>Приятной работы)</p>
    </div>
    <div class="container">
        <div class="top-row">
            <div class="card">
                <img src="{% static '/photo/../../static/photo/analytic.png' %}">
                <p>Аналитика</p>
            </div>
            <div class="card">
                <img src="{% static '/photo/application.png' %}">
                <p>Заявки</p>
            </div>
            <div class="card">
                <img src="{% static '/photo/travel.png' %}">
                <p>Туры</p>
            </div>
        </div>
        <div class="bottom-row">
            <div class="card">
                <img src="{% static '/photo/report.png' %}">
                <p>Отчет</p>
            </div>
            <div class="card">
                <img src="{% static '/photo/database.png' %}">
                <p>База данных</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>