{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <script src="{% static 'js/mainPage.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
    <title>World</title>
</head>
<body>
<header class="headerMain">
    <a href="/static" class="logo">WORLD</a>
    <ul class="nav">
        <li><a href="#" id="MainPageButton">Главная</a></li>
        <li><a href="#" id="AboutUsButton"> О нас</a></li>
        <li><a href="#">Туры</a></li>
        <li><a href="#">Гостиницы</a></li>
    </ul>
    <div class="search-icon">
        <img src="../../static/photo/search.png" alt="Search Icon" width="20" height="20">
    </div>
</header>
<div class="intro">
    <div class="video">
        <video class="video_media" src="{% static 'Video/beach.mp4' %}" autoplay muted loop></video>
    </div>
    <div class="intro-text">
        <h1>WORLD</h1>
        <p>Вдохновение в путешествиях</p>
        <div class="buttons">
            <a href="#">Посмотреть туры</a>
            <a href="#" id="loginButton">Войти</a>
        </div>
    </div>
</div>
</body>
</html>